################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/RideWise/.vs/RideWise/FileContentIndex/2ebcea33-1968-42d7-bca4-53ec3404a79e.vsidx
*.vsidx
